<%- include('./includes/head') %>

<%- include('./includes/navbar') %>

<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>

    <div class="col-lg-8 my-3">
      <h1 class="text-center">Criar conta ou logar</h1>
      <p class="text-center lead">Faça o login ou crie a sua conta abaixo</p>

      <%- include('./includes/messages') %>

      <div class="row">

        <div class="col">
          <h4>Faça seu cadastro</h4>

          <form action="./register" method="POST">
            <input type="hidden" name="_csrf" value=<%= csrfToken %>>
            <div class="mb-3">
              <label for="email-register" class="form-label">Email</label>
              <input type="email" class="form-control" id="email-register" name="email">
            </div>
            <div class="mb-3">
              <label for="password-register" class="form-label">Senha</label>
              <input type="password" class="form-control" id="password-register" name="password">
            </div>
            <button type="submit" class="btn btn-primary">Registrar-se</button>
          </form>
        </div>

        <div class="col">
          <h4>Faça o login</h4>

          <form action="./login" method="POST">
            <input type="hidden" name="_csrf" value=<%= csrfToken %>>
            <div class="mb-3">
              <label for="email-login" class="form-label">Email</label>
              <input type="email" class="form-control" id="email-login" name="email">
            </div>
            <div class="mb-3">
              <label for="password-login" class="form-label">Senha</label>
              <input type="password" class="form-control" id="password-login" name="password">
            </div>
            <button type="submit" class="btn btn-primary">Entrar</button>
          </form>
        </div>

      </div>
    </div>

    <div class="col-lg-2"></div>
  </div>
</div>

<%- include('./includes/footer') %>